{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://price-api.sonar.watch"
    }
  ],
  "info": {
    "description": "An easy to use API to know SPL Token price of the Solana blockchain.<br>Price is base on mid price of the serum market. Sonar provides a public instance of the api.<br>Rate limit: 10 requests per 10 seconds.<br>Public endpoint: https://price-api.sonar.watch<br>Public prices endpoint: https://price-api.sonar.watch/prices",
    "version": "0.0.1",
    "title": "Serum Price API",
    "termsOfService": "",
    "contact": {
      "url": "https://github.com/sonar-watch/serum-price-api"
    },
    "x-logo": {
      "url": "https://raw.githubusercontent.com/sonar-watch/serum-price-api/gh-pages/logo.svg",
      "altText": "logo"
    }
  },
  "tags": [
    {
      "name": "price",
      "description": "Operations about price.<br>The list of supported tokens is available at: https://github.com/sonar-watch/serum-price-api/blob/main/src/utils/markets.json <br>To add a token/market please make a pull request."
    }
  ],
  "paths": {
    "/prices": {
      "get": {
        "tags": [
          "price"
        ],
        "summary": "Get all prices",
        "description": "Get prices of all supported tokens.",
        "parameters": [],
        "operationId": "getAllPrices",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfPrices"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/prices/{mint}": {
      "get": {
        "tags": [
          "price"
        ],
        "summary": "Find price by mint",
        "description": "",
        "operationId": "findPriceByMint",
        "parameters": [
          {
            "name": "mint",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "So11111111111111111111111111111111111111112"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Price"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": []
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Serum markets",
    "url": "https://github.com/project-serum/awesome-serum"
  },
  "components": {
    "responses": {
      "TooManyRequests": {
        "description": "Too many requests",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error429"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error404"
            }
          }
        }
      }
    },
    "schemas": {
      "Price": {
        "type": "object",
        "properties": {
          "mint": {
            "type": "string",
            "example": "So11111111111111111111111111111111111111112"
          },
          "symbol": {
            "type": "string",
            "example": "SOL"
          },
          "price": {
            "type": "number",
            "example": 12.22
          },
          "serumV3Usdc": {
            "type": "string",
            "example": "9wFFyRfZBsuAha4YcuxcXLKwMxJR43S7fPfQLusDBzvT"
          },
          "updatedAt": {
            "type": "string",
            "example": "2021-05-23T14:14:15.166Z"
          }
        }
      },
      "ArrayOfPrices": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Price"
        },
        "example": [
          {
            "mint": "11111111111111111111111111111111",
            "symbol": "SOL",
            "price": 23.514,
            "serumV3Usdc": "9wFFyRfZBsuAha4YcuxcXLKwMxJR43S7fPfQLusDBzvT",
            "updatedAt": "2021-05-23T20:04:47.572Z"
          },
          {
            "mint": "So11111111111111111111111111111111111111112",
            "symbol": "SOL",
            "price": 23.514,
            "serumV3Usdc": "9wFFyRfZBsuAha4YcuxcXLKwMxJR43S7fPfQLusDBzvT",
            "updatedAt": "2021-05-23T20:04:48.132Z"
          },
          {
            "mint": "kinXdEcpDQeHPEuQnqmUgtYykqKGVFq6CeVX5iAHJq6",
            "symbol": "KIN",
            "price": 0.0000386,
            "serumV3Usdc": "Bn6NPyr6UzrFAwC4WmvPvDr2Vm8XSUnFykM2aQroedgn",
            "updatedAt": "2021-05-23T20:04:48.684Z"
          },
          {
            "mint": "4k3Dyjzvzp8eMZWUXbBCjEvwSkkk59S5iCNLY3QrkX6R",
            "symbol": "RAY",
            "price": 3.2485,
            "serumV3Usdc": "2xiv8A5xrJ7RnGdxXB42uFEkYHJjszEhaJyKKt4WaLep",
            "updatedAt": "2021-05-23T20:04:49.782Z"
          },
          {
            "mint": "SRMuApVNdxXokk5GT7XD5cUUgXMBCoAz2LHeuAoKWRt",
            "symbol": "SRM",
            "price": 3.598,
            "serumV3Usdc": "ByRys5tuUWDgL73G8JBAEfkdFf8JWBzPBDHsBVQ5vbQA",
            "updatedAt": "2021-05-23T20:04:50.346Z"
          },
          {
            "mint": "2FPyTwcZLUg1MDrwsyoP4D6s1tM7hAkHYRjkNb5w6Pxk",
            "symbol": "ETH",
            "price": 2029.395,
            "serumV3Usdc": "4tSvZvnbyzHXLMTiFonMyxZoHmFqau1XArcRCVHLZ5gX",
            "updatedAt": "2021-05-23T20:04:33.191Z"
          }
        ]
      },
      "error429": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "TooManyRequests"
          },
          "message": {
            "type": "string",
            "example": "Too many requests, please try again later."
          },
          "code": {
            "type": "number",
            "example": 429
          },
          "className": {
            "type": "string",
            "example": "too-many-requests"
          }
        }
      },
      "error404": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "NotFound"
          },
          "message": {
            "type": "string",
            "example": "No record found for id '[...]'"
          },
          "code": {
            "type": "number",
            "example": 404
          },
          "className": {
            "type": "string",
            "example": "not-found"
          }
        }
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "schema": {
          "type": "integer"
        },
        "description": "Request limit per window."
      },
      "X-RateLimit-Remaining": {
        "schema": {
          "type": "integer"
        },
        "description": "The number of requests left for the time window."
      },
      "X-RateLimit-Reset": {
        "schema": {
          "type": "integer"
        },
        "description": "The timestamp at which the current rate limit window resets."
      }
    },
    "securitySchemes": {},
    "links": {},
    "callbacks": {}
  },
  "security": []
}
